<!DOCTYPE html>
<html>
	<body>
		<h4>Buddy,</h4>
		<h2>We have a new suggestion from <%= @suggester_name %>.</h2>
		<h2>The suggestion is <%= @suggester_suggestion %>.</h2>
		</br>
		<h4> The following are the details of the suggester </h4></br>
		 <h4> Name of suggester: <%= @suggester_name %>  </h4> </br>
		 <h4> Email of suggester: <%= @suggester_email %> </h4></br>
 		 <h4> Phone number of suggester: <%= @suggester_phone_number %>  </h4> </br>
	</body>
	<footer>
		<address>
			Level 1,120 wood Street,Canegrowers Building,Mackay<br>
			PO Box 3415,North Mackay,Qld,4740<br>
			<a href="fax:+07.4953.5858">Fax: +07.4953.5858</a><br>
			<a href="tel:07-4953-5858">07-4953-5858</a><br>
			<a href= "mailto:wealth@whitsonwatt.com.au" >wealth@whitsonwatt.com.au</a>
		</address>
	</footer>
</html>